
body {
    margin: 0;
    font-family: 'Roboto';
}

:root {
    --white: rgb(224, 227, 228);
}

.logo {
    color: var(--white);
    margin: 0;
    padding: 27px 0px;
    /* padding-left: 185px; */
    font-family: 'Lexend Exa';
    /* font-size: 1.66vw; */
    font-size: clamp(16px, 1.66vw, 24px);
}

.logo  a:visited,  a:link, a:hover, a:active {
    text-decoration: none;
    color: var(--white);
}

header {
    padding: 0 12.84vw;
    margin: 0;
    background: #000;
    color: var(--white);
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 27px 0px;
    /* padding-left: 185px; */
    font-family: 'Lexend Exa';
    /* font-size: 1.66vw; */
    font-size: clamp(16px, 1.66vw, 24px);
}

.logo  a:visited,  a:link, a:hover, a:active {
    text-decoration: none;
    color: var(--white);
}

nav {
    margin: 0 auto;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Roboto';
    font-size: clamp(14px, 1.11vw, 16px);
    padding: 0 0.5vw;
}

.icons {
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: clamp(20px, 2vw, 25px);
    /* color: red; */
}

select {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-family: 'Roboto';
    font-size: clamp(14px, 1.11vw, 16px);
}

select option {
    
    background: rgba(255, 255, 255, 0.9);
    padding: 0;
    margin: 0;
    color: black;
}

.mobile {
    display: none;
}






@media screen and (max-width: 768px) {
 
    
    header {
        justify-content: space-between;
    } 

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }



    /* =============== burguer-menu ==================*/

    #menu {
        
        padding: 35px 12.84vw 0;
        list-style: none;
        text-align: center;
        /* border: 3px solid fuchsia; */
    
    }

    #menu a {
        text-decoration: none;
    }

    

    .li-container {
        
        text-align: center;
        display: flex;
        align-items: center;
        /* margin: 0 auto; */
        width: 100%;
        /* padding-left: 39%; */
        /* background: #ff1c1c; */
    }

    .li-container div {
        margin: 0 auto;
        width: 80px;
        display: flex;
        justify-content: space-between;
        /* text-align: center; */
        align-items: center;
        /* background-color: aqua; */
    }

    .li-container select {
        margin-top: 13px;
        text-align: center;
        position: absolute;
        left: 0;
        width: 100vw;
    }

    #menu li:nth-child(-n + 3) {
        margin: 15px 0;
    }
    
    #menu li a {
        /* display: inline-block; */
        padding: 0;
        margin: 0;
        color: #ffffff;
        /* display: block; */
        /* padding: 15px 0; */
    }
    
    #menu-wrapper {
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        overflow: hidden;
        /* height: 100vh; */
        visibility: hidden;
        list-style: none;
        padding: 0;
        margin: 0;
        background: #000000;
        height: 0;
        transition: height 0.3s ease-in-out;
    }
    
    #menu-toggle:checked + #menu-wrapper {
        visibility: visible;
        height: 80vh;
    }
          
      
    #menu-icon {
        cursor: pointer;
    }
    
    #menu li {
        margin: 10px 0;
    }
    
    #menu-toggle {
    
        display: none;
        /* width: 0; */
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
    }
}